@font-face {
    font-family: "font_main";
    src: url(fonts/font1.ttf);
    font-style: normal;
    font-weight: 300;
  }
  
  body
  {
    font-family: font_main;
    background: black;
    color: white;
  }
  
#image-box 
{
    border: 4px solid white;
    height: 500px;
    width: 60%;
    margin: 20px auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

#background
{
    height: 500px;
}

#text-box 
{
    border: 4px solid white;
    height: 150px;
    width: 57.7%;
    margin: 10px auto;
    padding: 20px;
}

#options 
{
    display: flex;
    width: 60%;
    /* background: gray; */
    margin: auto;
    
    justify-content: space-around;
}

#option1
{
    height: 100px;
    width: 90%;
    border: 4px solid white;
    margin-bottom: 10px;
    font-size: 35px;
    padding: 15px;
}

#option2
{
    height: 100px;
    width: 90%;
    border: 4px solid white;
    font-size: 35px;
    padding: 15px;
    margin-bottom: 100px;
    margin-left: 80px;
}

#option1:hover, #option2:hover 
{
    background: white;
    color: black;
}